header
{
    background-color: #2d3436;
    text-align: center;
    padding: 40px 10px;
}

header h1
{
    color: #74b9ff;
}

header h1 span
{
    color: #dfe6e9;
}

main
{
    justify-content: space-evenly !important;
    padding: 20px;
}