.planet-card
{
    min-width: 30%;
    background-color: #74b9ff;
    color: #2d3436;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.planet-card h3
{
    border-bottom: 2px solid #0984e3;
    font-size: 1.5em;
}

.planet-card span
{
    font-size: 1.3em;
}

.planet-moons
{
    color: #b44327;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 768px)
{
    .planet-card
    {
        min-width: 100%;
    }
}